.notification{
    text-align: center;
    border-radius: 5px;
    color: #f8e6d3;
    margin: 5px auto;
    width: 500px;
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
    height: 40px;
    line-height: 35px;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    20% { opacity: 1; }
    60% { opacity: 1; }
}
  
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    20% { opacity: 1; }
    60% { opacity: 1; }
}

.good {
    background-color: green;
}

.bad {
    background-color: #ea486a;
}