.notification{
    text-align: center;
    border-radius: 5px;
    color: white;
    margin: 5px auto;
    width: 500px;
    -webkit-animation: fadeinout 2s linear forwards;
    animation: fadeinout 2s linear forwards;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
  
@keyframes fadeinout {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}

.good {
    background-color: green;
}

.bad {
    background-color: red;
}