.profileContainer {
    width: 1024px;
    margin: auto;
}

.profileContainer h3 {
    color: #314a36;
    display: inline-block;
}

.profileContainer ul {
    padding: 0;
}

.profileContainer li {
    font-size: 20px;
    display: inline;
    text-align: left;
    margin-right: 50px;
    font-weight: bold;
    color: #314a36;
    cursor: pointer;
    background: #f1f1f1;
    padding: 5px 10px;
}

.deleteProfile {
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    color: #a1a1a1;
    height: 40px;
    font-weight: bold;
    font-size: 22px;
    margin-top: 35px;
    cursor: pointer;
    float: right;
}

.deleteProfile:hover {
    background-color: #D9483C;
    color: #f8e6d3;
}

.showMore {
    display: block;
    margin: 0 auto;
}

p.end {
    color: #a2a46d;
    text-align: center;
}

.loader {
    text-align: center;
    margin: 0 auto;
    display: block;
}