<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./index.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Home View</title>
</head>

<body>
    <div class="body-wrapper">
        <header>
            <a href="#"><img src="../public/backpack-blue-rucksack-travel-canvas.svg" alt="Mosquito Home"
                    class="logo"></a>

            <ul class="nav-bar">
                <a href="/login">
                    <li>Login</li>
                </a>
                <a href="/register">
                    <li>Register</li>
                </a>
                <a href="/logout">
                    <li>Logout</li>
                </a>
                <a href="/map">
                    <li>Map</li>
                </a>
                <span>Welcome, Guest <a href="/profile"><img src="../public/person-purple-hair-man.svg" alt="Profile"
                            class="profile"></a></span>
            </ul>
        </header>

        <h3 class="activity-title">Activity Feed</h3>

        <button class="create-button">Create</button>

        <div class="activity-feed">
            <article class="point-of-interest">
                <div class="poi-preview">
                    <img src="" alt="" class="thumbnail">
                </div>
                <div class="poi-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, atque. Illo provident doloremque
                        quas quis officiis, pariatur accusantium at impedit.</p>
                    <span><strong>Date Added:</strong> 4 Jan 2021</span>
                    <a href="/like"><img src="../public/badge-winner-won-star-award.svg" alt="Like" class="like"
                            title="Like"></a>
                    <a href="/like"><img src="../public/location-map-pin.svg" alt="Like" class="pin"
                            title="Add to map"></a>
                </div>
            </article>

            <article class="point-of-interest">
                <div class="poi-preview">
                    <img src="" alt="" class="thumbnail">
                </div>
                <div class="poi-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, atque. Illo provident doloremque
                        quas quis officiis, pariatur accusantium at impedit.</p>
                    <span><strong>Date Added:</strong> 4 Jan 2021</span>
                    <a href="/like"><img src="../public/badge-winner-won-star-award.svg" alt="Like" class="like"
                            title="Like"></a>
                    <a href="/like"><img src="../public/location-map-pin.svg" alt="Like" class="pin"
                            title="Add to map"></a>
                </div>
            </article>

            <article class="point-of-interest">
                <div class="poi-preview">
                    <img src="" alt="" class="thumbnail">
                </div>
                <div class="poi-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, atque. Illo provident doloremque
                        quas quis officiis, pariatur accusantium at impedit.</p>
                    <span><strong>Date Added:</strong> 4 Jan 2021</span>
                    <a href="/like"><img src="../public/badge-winner-won-star-award.svg" alt="Like" class="like"
                            title="Like"></a>
                    <a href="/like"><img src="../public/location-map-pin.svg" alt="Like" class="pin"
                            title="Add to map"></a>
                </div>
            </article>

            <article class="point-of-interest">
                <div class="poi-preview">
                    <img src="" alt="" class="thumbnail">
                </div>
                <div class="poi-content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, atque. Illo provident doloremque
                        quas quis officiis, pariatur accusantium at impedit.</p>
                    <span><strong>Date Added:</strong> 4 Jan 2021</span>
                    <a href="/like"><img src="../public/badge-winner-won-star-award.svg" alt="Like" class="like"
                            title="Like"></a>
                    <a href="/like"><img src="../public/location-map-pin.svg" alt="Like" class="pin"
                            title="Add to map"></a>

                </div>
            </article>
        </div>

        <div id="map"></div>




        <footer>
            Created by Dimitar Filipov. Enjoy!
        </footer>

    </div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&callback=initMap&libraries=&v=weekly"
      async
    ></script>


</body>

</html>