.pointOfInterest {
    background-color: #ffb70a;
    border-radius: 5px;
    margin: 15px 0 15px 0;
    padding: 10px;
    display: flex;
}

.pointOfInterest img.thumbnail {
    width: 100px;
    height: 100px;
    background-color: white;
}

.pointOfInterest p, span, h2 {
    display: block;
    color: #314a36;
}

.pointOfInterest h2 {
    margin: 0;
}

.pointOfInterest p {
    margin-top: 0px;
}

.poiPreview {
    margin-right: 10px;
}

.like {
    width: 30px;
}

.pin {
    width: 24px;
    cursor: pointer;
}