h2 {
    text-align: center;
}

.createForm {
    width: 200px;
    margin: 30px auto;
}

.createForm label{
    color: #314a36;
}

.createForm input{
    margin-bottom: 10px;
}

.createForm input[type="submit"]{
    margin-top: 10px;
    display: block;
}

.createForm textarea{
    width: 208px;
}

