.comment {
    background-color: #f1f1f1;
    padding: 15px;
    margin-bottom: 10px;
}

.comment h3, p, span {
    color: #314a36;
    margin: 5px;
}

.comment span {
    font-style: italic;
    font-size: 14px;
}