header {
    background: #a2a46d;
    padding: 10px;
}

.wrapper {
    width: 1024px;
    margin: auto;
}

.logo {
    width: 10%;
}

.navBar {
    float: right;
}

.navBar a {
    text-decoration: none;
}

.navBar a:hover {
    color: #314a36;
}

.navBar li {
    display: inline;
    margin-left: 15px;
    font-weight: bold;
    font-family: 'Bebas Neue', 'Arial', cursive;
    font-size: 30px;
    float: right;
}

.welcomeMessage {
    text-align: right;
}

.profile {
    width: 10%;
}