header {
    background: #a2a46d;
    padding: 10px;
}

.wrapper {
    width: 1024px;
    margin: auto;
}

.logo {
    width: 10%;
}

.navBar {
    float: right;
}

.navBar a {
    text-decoration: none;
}

.navBar a:hover {
    text-decoration: underline overline;
}

.navBar li {
    display: inline;
    margin: 0 5px;
    font-weight: bold;
}

.profile {
    width: 10%;
}