header {
    background: #a2a46d;
    padding: 10px;
}

.wrapper {
    width: 1024px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 75px;
}

.logoText {
    font-family: 'Bebas Neue', 'Arial', cursive;
    font-size: 40px;
    margin-left: 5px;
}