footer {
    background: #a2a46d;
    text-align: center;
    margin-top: 10px;
    height: 50px;
    color: #f8e6d3;
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: 45px;
}

.wrapper {
    width: 1024px;
    margin: auto;
}