h3 {
    color: #314a36;
    text-align: center;
    font-size: 50px;
    font-family: 'Bebas Neue', 'Arial', cursive;
    margin: 25px 0 20px 0;
}

.loginForm {
    width: 500px;
    margin: 0px auto;
    overflow: hidden;
}

.loginForm label{
    color: #314a36;
    display: block;
    font-size: 18px;
}

.loginForm input{
    border: none;
    background-color: #f1f1f1;
    border-radius: 5px;
    line-height: 50px;
    display: block;
    margin: 10px auto;
    width: calc(100% - 40px);
    padding-left: 20px;
    margin-left: 2px;
    margin-right: 0;
}

.submitBtn {
    margin: 30px 0;
    font-size: 20px;
    border: none;
    background-color: #D9483C;
    border-radius: 5px;
    color: #f8e6d3;
    cursor: pointer;
    width: calc(100% - 20px);
    padding: 13px 0;
}

.submitBtn:hover {
    filter: drop-shadow(0px 3px 0px #9B3148);
}

.submitBtn:disabled {
    background-color: #CCC;
    filter: none;
    cursor: default;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-style: italic;
    font-size: 14px;
}
  
::-moz-placeholder { /* Firefox 19+ */
    font-style: italic;
    font-size: 14px;
}
  
:-ms-input-placeholder { /* IE 10+ */
    font-style: italic;
    font-size: 14px;
}
  
:-moz-placeholder { /* Firefox 18- */
    font-style: italic;
    font-size: 14px;
}