@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

h1, h2, h3, h4, h5, label {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

p, a, span, button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 1024px;
  margin: auto;
}

